@import './src/app/styles/variables.module.scss';

.cartWrapper {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 999;
    width: calc(100vw - 3rem);
    background: $mainBlue;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $mainWhite;

    @media only screen and (min-width: $phone) {
        width: 30.375rem;
    }
}

.openCart {
    width: 5.94rem;
    height: 2.81rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: $text-basel;
    font-weight: 700;
    cursor: pointer;
}

.open {
    right: 0;
}

.close {
    right: -100vw;
}

.cartHeader {
    height: 6.25rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;

    h2 {
        max-width: 10.75rem;
        font-size: $text-base;

        @media only screen and (min-width: $tablet) {
            font-size: $text-xl;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4rem;
        border: none;
        height: 2.375rem;
        width: 2.375rem;
        background: $mainBlack;
        color: $mainWhite;
        cursor: pointer;

    }
}

.cartContent {
    display: flex;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex: 1;
    gap: 1.5rem;
    padding: 2rem;



}

.cartContent::-webkit-scrollbar {
    display: none;
}

.cartFooter {
    bottom: 0;
    width: 100%;

    .cartFooterTotal {
        display: flex;
        padding: 1.5rem 3rem;
        display: flex;
        justify-content: space-between;
        font-size: $text-lg;
        font-weight: 700;

        @media only screen and (min-width: $tablet) {
            font-size: $text-xl;
            padding: 2rem 5rem;
        }
    }

    .cartBuy {
        background: $mainBlack;
        width: 100%;
        height: 5rem;
        color: $mainWhite;
        font-size: $text-lg;
        font-weight: 700;

        @media only screen and (min-width: $tablet) {
            font-size: $text-xl;
            height: 6.063rem;
        }

    }
}

.addToCart {
    background: $mainBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 1.875rem;
    color: $mainWhite;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 0.25rem;
}